<table id="<%= id %>">
  <thead>
    <tr><th>Название</th><th>Исполнитель</th><th>Альбом</th></tr>
  </thead>
  <tbody>
    <% tracks.each do |track| %>
      <tr class='all_artists all_albums <%= "#{[track.album.to_css, track.artist.to_css, track.album_artist.to_css].join(" ")} #{cycle :even, :odd}"%>'>
        <td><%= h track.name %></td>
        <td><%= h track.artist %></td>
        <td><%= h track.album %></td>
      </tr>
    <% end %>
  </tbody>
</table>

